<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导航栏-demo</title>
</head>
<body>
{% for i in name_list %}
<h1>{{ i.type }}</h1>
    <p>
     {% for j in i.value %}
         {% if forloop.first %} - {% endif %}
        {{ j }} 第 {{ forloop.counter }} 次循环
         {% if not forloop.last %} | {% endif %}

         {% endfor %}
    </p>
{% endfor %}

{% for name in name_list %}

    {% if '计算机' not in name.type %}
        <h1>
        <span>{{ name.type }}</span>
        </h1>
    {% endif %}

{% endfor %}
</body>
</html>